
.icon-up-thin:before { content: '\e800'; } /* '' */
.icon-right-thin:before { content: '\e801'; } /* '' */
.icon-left-thin:before { content: '\e802'; } /* '' */
.icon-logo:before { content: '\e803'; } /* '' */
.icon-mail:before { content: '\e804'; } /* '' */
.icon-tel:before { content: '\e805'; } /* '' */
.icon-close:before { content: '\e806'; } /* '' */
.icon-fb:before { content: '\e807'; } /* '' */
.icon-line:before { content: '\e808'; } /* '' */
.icon-line-mobile:before { content: '\e809'; } /* '' */
.icon-down-dir:before { content: '\e80a'; } /* '' */
.icon-left:before { content: '\f177'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */