.banner{
    height: 100vh;
    position: relative;
    &::before{
        content: '';
        pointer-events: none;
        left: 0;
        width: 100%;
        position: absolute;
        z-index: 2;
        top: 0;
        bottom: 0;
        display: block;
        background-size: calc(100%/8);
        background-image: linear-gradient(90deg, transparent 0px ,transparent calc(100% - 1px) ,rgba(255,255,255,0.08) calc(100% - 1px),rgba(255,255,255,0.08) 100%);
    }
    .jqimgFill{
        position: fixed;
        width: 100%;
        height: 100%;
    }
    .text{
        width: 100%;
        left: 0;
        top: 53.5%;
        padding-left: 12.5%;
        transform: translateY(-50%);
        .font-165{
            letter-spacing: 5px;
            transition: all .3s;
            &.hide{
                opacity: 0;
                pointer-events: none;
            }
        }
        .scrollDown{
            width: 37px;
            height: 37px;
            i{
                line-height: 0;
                &::before{
                    line-height: 37px;
                }
            }
        }
    }
    .links{
        bottom: 0;
        left: 0;
        width: 49.99%;
        a{
            padding: 15px 15px;
            transition: all .3s;
            &:hover,
            &.active{
                background: $darkBrown;
                span{
                    transition: all .3s;
                    &:nth-child(1){
                        color:white;
                    }
                    &:nth-child(2){
                        color:$brown776356;
                    }
                }
            }
        }
    }
    @media(max-width:1199px){
        &::before{
            display: none;
        }
        .links{
            width: 100%;
        }
    }
    @media(max-width:767px){
        .text{
            top: auto;
            transform: none;
            bottom: 50px;
            padding-left: 24px;
            padding-right: 24px;
        }
    }
    @media(max-width:575px){
        .text{
            img{
                width: 100%;
            }
        }
    }
}
.video-element{
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
    iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%; 
        height: 100%;
    }
}
.mask{
    position: relative;
    &::before{
        content: '';
        left: 0;
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        display: block;
        pointer-events: none;
        background-size: calc(100%/8);
        background-image: linear-gradient(90deg, transparent 0px ,transparent calc(100% - 1px) ,#F2F2F2 calc(100% - 1px),#F2F2F2 100%); 
    }
    @media(max-width:1199px){
        &:before{
            display: none;
        }
    }
}
.left-brown-line-dec{
    position: relative;
    &::before{
        content:"";
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 2px;
        height: calc(100% - 20px);
        background: $darkBrown;
    }
}
.verticalText{
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr ;
}
