#landmark{
    .dec-line{
        position: relative;
        &::after{
            content:"";
            position: absolute;
            display: block;
            background: #BCBCBC;
            width: 560px;
            height: 1px;
            bottom: -1px;
            left: 0;
            z-index: -1;
        }
    }
    .dec-block{
        height: 784px;  
        bottom: 0;
    }
}