.editor{
    .landmark-dec-line{
        &::after{
            content:"";
            position: absolute;
            display: block;
            background: #BCBCBC;
            width: 560px;
            height: 1px;
            bottom: -1px;
            left: 0;
            z-index: -1;
        }
    }
    .landmark-section-1{
        .dec-block{
            height: 784px;  
            bottom: 5px;
            z-index: -2;
        }
    }
    .landmark-section-2{
        .specialImg{
            &::after{
                content:"";
                display: block;
                height: 100%;
                width: 100%;
                position: absolute;
                top: -100px;
                left: 96px;
                border:20px solid $brown;
            }

        }
        .left-brown-line-dec{
            margin-right: 96px;
        }
    }
    .landmark-section-3{
        padding-bottom: 124px;
        .swiper-slide{
            height: 830px;
            background-position: right 40% center;
            .img{
                height: 100%;
            }
            .name-group{
                position: absolute;
                left: 7.5%;
                top: 150px;
            
                .tag{
                    position: relative;
                    width: 45px;
                    line-height: 33px;
                    letter-spacing: 5px;
                    &:after,
                    &::before{
                        border:1px solid rgba(255,255,255,0.4);
                        content:"";
                        display: block;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                    }
                    &::after{
                        top: 0;
                        left: 0;
                    }
                    &::before{
                        top: -4px;
                        left: -4px;
                    }
                }
                .name{
                    position: relative;
                    top: -30px;
                    left: 50px;
                    letter-spacing: 10px;
                }
            }
            .text-group{
                top: 53%;
                left: 57%;
                transform: translateY(-50%);
                .number{
                    color:rgba(255,255,255,0.1);
                    top: -85px;
                    left: -61px;
                }
                button{
                    i{
                        transition: all .3s;
                    }
                    &:hover{
                        i{
                            transform: translateX(10px);
                        }
                    }
                }
            }
        }
        .swiper-pagination{
            position: static;
            .swiper-pagination-bullet{
                display: flex;
                width: 66px;
                height: 66px;
                transition: all .3s;
                background: transparent;
                position: relative;
                opacity: 1;
                transition: all .3s;
                border:2px solid transparent;
                &:not(.swiper-pagination-bullet-active):hover{
                    &::after{
                        border:2px solid #A2A2A2;
                    }
                }
                &.swiper-pagination-bullet-active{
                    border:2px solid $brown;
                }
                &::before,
                &::after{
                    content:"";
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    border-radius: 50%;
                    transition:  all .3s;
                }
                &::after{
                    width: 100%;
                    height: 100%;
                    border:2px solid transparent;
                }
                &::before{
                    width: 4px;
                    height: 4px;
                    background: black;
                }
            }   
            
        }
        .dec-block{
            height: 1090px;  
            bottom: 0;;
            z-index: -2;
        }
    }
    .landmark-modal{
        padding-right: 0 !important;
        .modal-dialog{
            max-width: initial;
            max-height: initial;
            height: 100vh;
            margin: 0;
            .modal-content{
                height: 100%;
                .bottom-dec{
                    position: relative;
                    &::before{
                        content:"";
                        display: block;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 30px;
                        height: 1px;
                        background: $brown786356;
                        z-index: 1;
                    }
                    &::after{
                        content:"";
                        display: block;
                        background: #BCBCBC;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        height: 1px;
                    }
                }
                .back{
                    left: 0;
                    bottom: 65px;
                }
            }
        }
    }
    @media(max-width:1600px){
        .landmark-dec-line{
            &::after{
                width: 440px;
            }
        }
        .landmark-section-2 .left-brown-line-dec{
           margin-right: 20px;
        }
    }
    @media(max-width:1400px){
        .landmark-dec-line{
            &::after{
                width: 350px;
            }
        }
        .landmark-section-1 .dec-block{
            height: 550px;
        }
        .landmark-section-2{
            .specialImg::after{       
                top: -30px;
                left: 25px;
                border: 10px solid #7A5E53;
            }
            .left-brown-line-dec{
                margin-right: 0;
            }
        }
        .landmark-section-3{
            .swiper-slide{
                .img{
                    background-position: left 35% center;
                }
                
                .name-group{
                    left: 50px;
                    top: 100px;
                }
                .text-group{
                    left: 50%;
                    
                }
            }
        }
    }
    @media(max-width:1199px){
        .landmark-dec-line{
            &::after{
                width: 100%;
            }
        }
        .landmark-section-1 .dec-block{
            height: 413px;
        }
        .landmark-section-3{
            padding-bottom: 50px;
            .swiper-slide{
                .img{
                    background-position: right 90% center;
                }
                .name-group{
                    left: 100px;
                }
                .text-group{
                    left: 0px;
                    right: 0px;
                    top: auto;
                    bottom: 0px;
                    transform: none;
                    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.5));
                    .number{
                        top: 0;
                        left: 0;
                        font-size: 24px;
                        color:white;
                        padding-left: 40px;
                        &::before{
                            content:"";
                            display: block;
                            width: 26px;
                            height: 1px;
                            background:#BCBCBC ;
                            position: absolute;
                            left: 0;
                            top: 50%;
                            transform: translateY(-50%);

                        }
                    }
                    div{
                        max-width: initial;
                    }
                }
            }
            .swiper-pagination .swiper-pagination-bullet{
                display: inline-flex;
                width: 40px;
                height: 40px;
                &::after{
                    display: none;
                }
            }
        }
       .landmark-modal .modal-dialog{
            height: auto;
            .jqimgFill{
                background: initial;
                img{
                    display: block !important;
                }
            }
        } 
    }
    @media(max-width:991px){
        .landmark-section-1{
            &::after{
                content:"";
                display: block;
                background: $grayF8F8F8;
                width: 100%;
                height: 300px;
                position: absolute;
                left: 0;
                bottom: 0;
                z-index: -1;
            }
        }
        .landmark-section-2 .specialImg::after{
            left: 20px;
            top: -20px;
            height: calc(100% + 40px);
        }
        .landmark-section-3{
            background: $grayF8F8F8;
            .swiper-slide{
                height: auto;
                .img{
                    height: 750px;
                    background-position: right 75% center;
                    margin-bottom: 100px;
                }
                .name-group{
                    left: auto;
                    right: 124px;
                }
                .text-group{
                    color:black;
                    background: transparent;
                    .number{
                        color:black;
                    }
                    .max495{
                        max-width: initial;
                    }
                    button{
                        color:black !important;
                        border-bottom:1px solid black !important;
                    }
                }
            }
            .dots-block{
                position: absolute;
                top: 750px;

            }
        }
    }
    @media(max-width:767px){
        .landmark-section-3{
            .dots-block{
                top: 386px;
            }
            .swiper-slide{
                .img{
                    height: 390px;
                    background-position: right 80% center;
                    background-size: cover;
                    margin-bottom: 64px;
                }
                .name-group{
                    right: 54px;
                    top: 35px;
                    font-size: 15px;
                    .name{
                        font-size: 22px;
                        top: -25px;
                    }
                }
                .text-group{
                    .number{
                        font-size: 18px;
                    }
                    .font-20{
                        color:$gray6D6D6D;
                    }
                    button{
                        font-size: 16px;
                    }
                }
            }
            .swiper-pagination .swiper-pagination-bullet{
                border:1px solid transparent;
                &.swiper-pagination-bullet-active{
                    border:1px solid #7A5E53;
                }
            }
        }
    }
    @media(max-width:575px){
        .landmark-section-1{
            &::after{
                height: 200px;
            }
        }
    }  
}

