.editor{
    .location-section-1{
        .dec-line{
            &::before,
            &:after{
                display: block;
                content:"";
                position: absolute;
                height: 1px;
                left: 0;
                top: 0;
            }
            &::before{
                width: 45%;
                background: $brown776356;
                z-index: 1;

            }
            &:after{
                width: 100%;
                background:#BCBCBC ;
            }
            
        }
    }
    .location-section-2{
        margin-top: -254px;
        &::before{
            z-index: 0;
        }
        .dec-block{
            height: 1446px;
            z-index: -1;
        }
        .main-block{
            padding-top: 345px;
        }
        .cursor{
            opacity: 0;
            top: 500px;
            position: fixed;
            pointer-events: none;
            >div{
                width: 60px;
                height: 60px;
                box-shadow: 0 0 10px rgba(0,0,0,0.2);
            }
        }
        .pagination-wrapper{
            pointer-events: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 12.5%;
            .swiper-pagination{
                position: static;
                .swiper-pagination-current{
                    font-size: 46px;
                    margin-top: 3px;
                    margin-right: 10px;
                    line-height: 1;
                }
                .swiper-pagination-total{
                    font-size: 22px;
                    margin-left: 5px;
                }
            }
            
        }
        .swiper-wrapper{
            .jqimgFill{
                height: 690px;
            }
            .text{
                top: 50%;
                right: 10%;
                transform: translateY(-50%);
            }
        }
        .swiper-button{
            cursor: none;
            width: 50%;
            height: 100%;
            top: 0;
            margin-top: 0;
            &::after{
                display: none;
            }
            i{
                display: none;
            }
            &.swiper-button-prev{
                left: 0;
            }
            &.swiper-button-next{
                right: 0;
            }
        }
        .dec-line{
            &::before,
            &::after{
                content:"";
                display: block;
                position: absolute;
                left: 0;
                bottom: 0;
                height: 1px;
            }
            &::before{
                width: 50px;
                background: $brown776356;
                z-index: 1;
            }
            &::after{
                background: #BCBCBC;
                width: 100%;
            }
        }
    }
    @media(max-width:1400px){
        .location-section-2{
            .cursor{
                display: none;
            }
            .swiper-wrapper{
                .jqimgFill{
                    height: 550px;
                }
               
            }
            .swiper-button{
                position: static;
                display: inline-flex;
                cursor: pointer;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background: white;
                box-shadow: 0 0 10px rgba(0,0,0,0.2);
                margin: 50px 50px;
                i{
                    display: block;
                }
            }
        }
    }
    @media(max-width:1199px){
        .location-section-1{
            .max720{
                max-width: initial;
            }
        }
        .location-section-2{
            margin-top: 0;
            .main-block{
                padding-top: 50px;
            }
            .pagination-wrapper{
                 display: none;
            }
            .swiper-wrapper{
                .jqimgFill{
                    height: 400px;
                }
                .text{
                    transform: none;
                    
                }
               
            }
            .swiper-button{
                margin: 50px 20px;
            }
        }
    }
    @media(max-width:991px){
        .location-section-1 .font-26{
           
            border-bottom:1px solid #BCBCBC;
            span{
                position: relative;
                &::before{
                    content:"";
                    display: block;
                    position: absolute;
                    bottom: -1px;
                    left: 0;
                    background: $brown776356;
                    width: 100%;   
                    height: 1px;            
                }
            }
        }
        .location-section-2{
            .swiper-wrapper .text{
                 max-width: initial;
            }
            .swiper-button{
                margin: 20px;
            }
           
        }
    }
    @media(max-width:575px){
        .banner .jqimgFill{
            background-position: left 37% center !important;
        }
        .location-section-2{
            .swiper-wrapper .jqimgFill{
                height: 250px;
            }
            .swiper-button{
              margin: 5px 20px;
            }
        }
    }
}