@charset "UTF-8";
@import url("scss/plugins/bootstrap.min.css");
@import url("scss/plugins/mCustomScrollbar.css");
@import url("scss/plugins/bootstrap-select.min.css");
@import url("scss/plugins/bootstrap-datepicker.min.css");
@import url("scss/plugins/swiper-bundle.min.css");
@import url("scss/plugins/aos.css");
@import url("font/css/fontello.css");
@font-face {
  font-family: Cormorant Infant;
  src: url(CormorantInfant-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Noto Serif TC;
  src: url(NotoSerifTC-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: Noto Serif TC;
  src: url(NotoSerifTC-Bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: Amiri;
  src: url(Amiri-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Amiri;
  src: url(Amiri-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Roboto;
  src: url(Roboto-Regular.ttf);
  font-weight: 400;
}
.Heebo {
  font-family: "Heebo";
}

.NotoSansTC {
  font-family: Noto Sans TC;
}

.NotoSerifTC {
  font-family: Noto Serif TC;
}

.CormorantInfant {
  font-family: Cormorant Infant;
}

.Roboto {
  font-family: Roboto;
}

.max415 {
  max-width: 415px;
}

.max440 {
  max-width: 440px;
}

.max480 {
  max-width: 480px;
  margin: auto;
}

.max495 {
  max-width: 495px;
  margin: auto;
}

.max580 {
  max-width: 580px;
  margin: auto;
}

.max720 {
  max-width: 720px;
}

.max960 {
  max-width: 960px;
  margin: auto;
}

.w-auto {
  width: auto !important;
}

.lh09 {
  line-height: 0.9;
}

.lh1 {
  line-height: 1;
}

.lh13 {
  line-height: 1.3;
}

.lh14 {
  line-height: 1.4;
}

.lh16 {
  line-height: 1.6;
}

.lh165 {
  line-height: 1.65;
}

.max590 {
  max-width: 590px;
}

.max640 {
  max-width: 640px;
  margin: auto;
}

.max1640 {
  max-width: 1640px;
  margin: auto;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.z-3 {
  z-index: 3;
}

.z-4 {
  z-index: 4;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
}

.bg-black {
  background: #000;
}

.bg-white03 {
  background: rgba(255, 255, 255, 0.3);
}

.bg-brown {
  background: #7A5E53;
}

.bg-darkBrown {
  background: #331902;
}

.bg-grayF8F8F8 {
  background: #F8F8F8;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-bold {
  font-weight: 700;
}

.text-black {
  color: black;
}

.text-6D6D6D {
  color: #6D6D6D;
}

.text-brown776356 {
  color: #776356;
}

.text-hover-white {
  transition: all 0.3s;
}
.text-hover-white:hover {
  color: white;
}

.text-hover-brown776356 {
  transition: all 0.3s;
}
.text-hover-brown776356:hover {
  color: #776356 !important;
}

.border-top-black-2 {
  border-top: 2px solid black;
}

.border-white {
  border: 1px solid white;
}

.border-white-3 {
  border: 3px solid white;
}

.border-bottom-brown776356 {
  border-bottom: 1px solid #776356;
}

.border-bottom-white {
  border-bottom: 1px solid white;
}

.border-bottom-black {
  border-bottom: 1px solid black;
}

.border-bottom-BCBCBC {
  border-bottom: 1px solid #BCBCBC;
}

.rounded-5 {
  border-radius: 5px;
}

.rounded-10 {
  border-radius: 10px;
}

.rounded-15 {
  border-radius: 15px;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 991px) {
  .position-lg-absolute {
    position: absolute !important;
  }
}

@media (min-width: 1199px) {
  .position-xl-absolute {
    position: absolute !important;
  }
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-grow {
  flex-grow: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-justify-space-between {
  display: flex;
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.blank {
  flex: 0 0 12.5%;
}
@media (max-width: 1199px) {
  .blank {
    display: none;
  }
}

.text-align-left {
  text-align: left;
}

.cursor {
  cursor: pointer;
}

.point-event-none {
  pointer-events: none;
}

.point-event-all {
  pointer-events: all;
}

.mycol-1 {
  flex: 0 0 12.5%;
  max-width: 12.5%;
}

.mycol-2 {
  flex: 0 0 25%;
  max-width: 25%;
}

.mycol-3 {
  flex: 0 0 37.5%;
  max-width: 37.5%;
}

.mycol-4 {
  flex: 0 0 50%;
  max-width: 50%;
}

.mycol-5 {
  flex: 0 0 62.5%;
  max-width: 62.5%;
}

.mycol-6 {
  flex: 0 0 75%;
  max-width: 75%;
}

.mycol-7 {
  flex: 0 0 87.5%;
  max-width: 87.5%;
}

@media (min-width: 992px) {
  .mycol-lg-3 {
    flex: 0 0 37.5%;
    max-width: 37.5%;
  }
}

@media (min-width: 992px) {
  .mycol-lg-5 {
    flex: 0 0 62.5%;
    max-width: 62.5%;
  }
}

@media (min-width: 1200px) {
  .mycol-xl-1 {
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
}

@media (min-width: 1200px) {
  .mycol-xl-2 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (min-width: 1200px) {
  .mycol-xl-3 {
    flex: 0 0 37.5%;
    max-width: 37.5%;
  }
}

@media (min-width: 1200px) {
  .mycol-xl-4 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 1200px) {
  .mycol-xl-5 {
    flex: 0 0 62.5%;
    max-width: 62.5%;
  }
}

@media (min-width: 1200px) {
  .mycol-xl-6 {
    flex: 0 0 75%;
    max-width: 75%;
  }
}

@media (min-width: 1200px) {
  .mycol-xl-7 {
    flex: 0 0 87.5%;
    max-width: 87.5%;
  }
}

.font-165 {
  font-size: 165px;
}

.font-150 {
  font-size: 150px;
}

.font-88 {
  font-size: 88px;
}

.font-80 {
  font-size: 80px;
}

.font-65 {
  font-size: 65px;
}

.font-60 {
  font-size: 60px;
}

.font-44 {
  font-size: 44px;
}

.font-40 {
  font-size: 40px;
}

.font-36 {
  font-size: 36px;
}

.font-35 {
  font-size: 35px;
}

.font-32 {
  font-size: 32px;
}

.font-30 {
  font-size: 30px;
}

.font-28 {
  font-size: 28px;
}

.font-26 {
  font-size: 26px;
}

.font-25 {
  font-size: 25px;
}

.font-24 {
  font-size: 24px;
}

.font-22 {
  font-size: 22px;
}

.font-21 {
  font-size: 21px;
}

.font-20 {
  font-size: 20px;
}

.font-19 {
  font-size: 19px;
}

.font-18 {
  font-size: 18px;
}

.font-17 {
  font-size: 17px;
}

.font-16 {
  font-size: 16px;
}

.font-15 {
  font-size: 15px;
}

.font-14 {
  font-size: 14px;
}

.font-12 {
  font-size: 12px;
}

@media (max-width: 1460px) {
  .font-165 {
    font-size: 130px;
  }
}
@media (max-width: 1400px) {
  .font-165 {
    font-size: 100px;
  }

  .font-80 {
    font-size: 80px;
  }
}
@media (max-width: 1199px) {
  .font-88 {
    font-size: 70px;
  }

  .font-65 {
    font-size: 46px;
  }

  .font-60 {
    font-size: 50px;
  }

  .font-44 {
    font-size: 40px;
  }

  .font-40 {
    font-size: 35px;
  }

  .font-32 {
    font-size: 28px;
  }

  .font-30 {
    font-size: 28px;
  }

  .font-28 {
    font-size: 22px;
  }

  .font-26 {
    font-size: 22px;
  }

  .font-25 {
    font-size: 22px;
  }

  .font-24 {
    font-size: 22px;
  }

  .font-20 {
    font-size: 18px;
  }
}
@media (max-width: 991px) {
  .font-88 {
    font-size: 60px;
  }

  .font-165 {
    font-size: 80px;
  }
}
@media (max-width: 767px) {
  .font-165 {
    font-size: 60px;
  }

  .font-88 {
    font-size: 50px;
  }

  .font-80 {
    font-size: 35px;
  }

  .font-60 {
    font-size: 35px;
  }

  .font-44 {
    font-size: 28px;
  }

  .font-40 {
    font-size: 32px;
  }

  .font-36 {
    font-size: 22px;
  }

  .font-30 {
    font-size: 24px;
  }

  .font-26 {
    font-size: 22px;
  }

  .font-25 {
    font-size: 18px;
  }

  .font-24 {
    font-size: 18px;
  }
}
@media (max-width: 575px) {
  .font-165 {
    font-size: 44px;
  }

  .font-18 {
    font-size: 16px;
  }
}
@media (max-width: 374px) {
  .font-165 {
    font-size: 35px;
  }
}
/* ==========================================================================
	clear
 ========================================================================== */
label {
  margin-bottom: 0;
  line-height: normal;
}

textarea {
  -webkit-appearance: none;
}

button,
input, textarea {
  line-height: normal;
  outline: 0;
  background: transparent;
  border: 0;
}

button,
select {
  text-transform: none;
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  nowhitespace: afterproperty;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

figure,
address {
  padding: 0;
  margin: 0;
}

* {
  outline: 0;
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

/* ==========================================================================
    public
 ========================================================================== */
body {
  margin: 0;
  font-family: "Amiri", "Noto Sans TC";
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  color: black;
  overflow-x: hidden;
  line-height: normal;
  transition: opacity 0.3s;
}

.safari body {
  -webkit-text-size-adjust: none;
}

/* ==========================================================================
    public
 ========================================================================== */
/*不顯示外虛線*/
button, a {
  outline: none !important;
}

a, a:active {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

a {
  transition: color 0.3s ease-in-out;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  line-height: normal;
}

img {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  border: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  image-rendering: -webkit-optimize-contrast;
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.hidden {
  display: none;
}

ul.noneStyle {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.noneList {
  list-style: none;
}

ul.noneStyle > li {
  list-style: none;
}

textarea {
  resize: none;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #646464;
}

::-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #646464;
}

::-o-placeholder {
  /* Mozilla Firefox 19+ */
  color: #646464;
}

::-ms-placeholder {
  /* Internet Explorer 10+ */
  color: #646464;
}

::-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #646464;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: white;
  /*字體顏色*/
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  /*透明*/
}

/**/
.scrollbar,
.scrollbarX,
.scrollbarY {
  -webkit-overflow-scrolling: touch;
}

.scrollbarX {
  overflow-x: auto;
}

table {
  -webkit-backface-visibility: visible;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.modal-content {
  border: 0;
}
.modal-content .modal-dialog {
  margin: 0;
}
.modal-content .close {
  text-shadow: none;
  opacity: 1;
}

.slick-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  transition: all 0.3s;
}
.slick-arrow.slick-prev {
  left: 0;
}
.slick-arrow.slick-next {
  right: 0;
}
.slick-arrow::before {
  display: none;
}

.slick-dots li {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.slick-dots li button {
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.slick-dots li button::before {
  display: none;
}

[class^=icon-]:before, [class*=" icon-"]:before {
  width: auto;
  margin: 0;
  line-height: inherit;
}

.banner {
  height: 100vh;
  position: relative;
}
.banner::before {
  content: "";
  pointer-events: none;
  left: 0;
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  display: block;
  background-size: calc(100%/8);
  background-image: linear-gradient(90deg, transparent 0px, transparent calc(100% - 1px), rgba(255, 255, 255, 0.08) calc(100% - 1px), rgba(255, 255, 255, 0.08) 100%);
}
.banner .text {
  width: 100%;
  left: 0;
  top: 53.5%;
  padding-left: 12.5%;
  transform: translateY(-50%);
}
.banner .text .font-165 {
  letter-spacing: 5px;
  transition: opacity 0.3s;
}
.banner .text .font-165.hide {
  opacity: 0;
  pointer-events: none;
}
.banner .text .scrollDown {
  width: 37px;
  height: 37px;
}
.banner .text .scrollDown i {
  line-height: 0;
}
.banner .text .scrollDown i::before {
  line-height: 37px;
}
.banner .links {
  bottom: 0;
  left: 0;
  width: 50%;
}
.banner .links a {
  padding: 15px 15px;
  transition: all 0.3s;
}
.banner .links a:hover, .banner .links a.active {
  background: #331902;
}
.banner .links a:hover span, .banner .links a.active span {
  transition: all 0.3s;
}
.banner .links a:hover span:nth-child(1), .banner .links a.active span:nth-child(1) {
  color: white;
}
.banner .links a:hover span:nth-child(2), .banner .links a.active span:nth-child(2) {
  color: #776356;
}
@media (max-width: 1199px) {
  .banner::before {
    display: none;
  }
  .banner .links {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .banner .text {
    top: auto;
    transform: none;
    bottom: 50px;
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (max-width: 575px) {
  .banner .text img {
    width: 100%;
  }
}

.video-element {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}
.video-element iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mask {
  position: relative;
}
.mask::before {
  content: "";
  left: 0;
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  display: block;
  pointer-events: none;
  background-size: calc(100%/8);
  background-image: linear-gradient(90deg, transparent 0px, transparent calc(100% - 1px), red calc(100% - 1px), red 100%);
}
@media (max-width: 1199px) {
  .mask:before {
    display: none;
  }
}

.left-brown-line-dec {
  position: relative;
}
.left-brown-line-dec::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 2px;
  height: calc(100% - 20px);
  background: #331902;
}

.verticalText {
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
}

html.menuOpen .menu {
  right: 0;
}
html.menuOpen header .reservation {
  opacity: 0;
  pointer-events: none;
}
html.menuOpen .mask {
  opacity: 1;
  pointer-events: all;
}
html.headerHideMode header {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-90px);
}
html.scrollMode header {
  background: white;
  color: black;
}
html.scrollMode header .reservation,
html.scrollMode header .line,
html.scrollMode header .fb,
html.scrollMode header .lang,
html.scrollMode header .menu-toggle {
  border-left: 1px solid #F2F2F2;
}
html.scrollMode header .reservation:hover,
html.scrollMode header .line:hover,
html.scrollMode header .fb:hover,
html.scrollMode header .lang:hover,
html.scrollMode header .menu-toggle:hover {
  color: #786356;
}
html.scrollMode header .menu-toggle img:nth-child(1) {
  display: none;
}
html.scrollMode header .menu-toggle img:nth-child(2) {
  display: block;
}
@media (max-width: 1199px) {
  html.scrollMode header .reservation,
html.scrollMode header .line,
html.scrollMode header .fb,
html.scrollMode header .lang,
html.scrollMode header .menu-toggle {
    border-left: 0;
  }
}
@media (max-width: 991px) {
  html.menuOpen {
    overflow: hidden;
  }
  html.menuOpen header .logo {
    color: black;
    z-index: 2;
  }
  html.headerHideMode header, html.scrollMode header {
    opacity: 1;
    pointer-events: all;
    transform: none;
    background: white;
    color: black;
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.3);
  }
  html.headerHideMode header .menu-toggle, html.scrollMode header .menu-toggle {
    border-left: 1px solid #F2F2F2;
  }
  html.headerHideMode header .menu-toggle img:nth-child(1), html.scrollMode header .menu-toggle img:nth-child(1) {
    display: none;
  }
  html.headerHideMode header .menu-toggle img:nth-child(2), html.scrollMode header .menu-toggle img:nth-child(2) {
    display: block;
  }
}

header {
  color: white;
  height: 90px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  transition: all 0.3s;
}
header .menu-toggle img:nth-child(2) {
  display: none;
}
header .menu-toggle,
header .reservation,
header .line,
header .fb,
header .lang {
  transition: all 0.3s;
}
header .menu-toggle:hover,
header .reservation:hover,
header .line:hover,
header .fb:hover,
header .lang:hover {
  background: rgba(255, 255, 255, 0.2);
}
header .menu {
  top: 0px;
  right: -714px;
  width: 37.5%;
  height: 100vh;
  transition: right 0.3s;
}
header .menu .menu-toggle,
header .menu .reservation,
header .menu .line,
header .menu .fb,
header .menu .lang {
  border-left: 1px solid #F2F2F2;
}
header .menu .row {
  height: 90px;
  border-bottom: 1px solid #F2F2F2;
}
header .menu .block {
  height: calc(100% - 118px);
  overflow-y: auto;
}
header .menu .block ul li a {
  padding: 2px 0;
}
header .menu .block ul li a:before {
  content: "";
  display: block;
  width: 10px;
  height: 2px;
  background: #331902;
  position: absolute;
  left: -20px;
  top: 45%;
  transform: translate(10px, -50%);
  opacity: 0;
  transition: all 0.3s;
}
header .menu .block ul li a:hover:before {
  opacity: 1;
  transform: translate(0px, -50%);
}
header .menu .block ul li a:hover .font-30 {
  color: #331902;
}
header .menu .block ul li a:hover .font-32 {
  color: #786356;
}
header .menu .block ul li a span:nth-child(1) {
  order: 2;
}
header .menu .block ul li a span:nth-child(2) {
  order: 1;
}
header .fb {
  border-right: 1px solid rgba(255, 255, 255, 0.08);
}
header .mask {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  pointer-events: none;
  opacity: 0;
}
@media (max-width: 1199px) {
  header .menu {
    width: 50%;
  }
  header .fb {
    border: 0;
  }
}
@media (max-width: 991px) {
  header {
    height: 60px;
  }
  header .menu {
    width: 100%;
    right: -100%;
  }
  header .menu .row {
    height: 60px;
  }
  header .menu .line {
    border-left: 0;
  }
  header .menu .block ul li a {
    padding: 0;
  }
  header .menu .block ul li a::before {
    display: none;
  }
  header .menu .block ul li a span:nth-child(1) {
    font-size: 30px;
    color: black;
    line-height: 0.9;
  }
  header .menu .block ul li a span:nth-child(2) {
    font-size: 22px;
    color: #6D6D6D;
  }
  header .menu .bottom {
    bottom: 0;
    border-top: 1px solid #F2F2F2;
  }
  header .menu .bottom > *:not(:last-child) {
    border-right: 1px solid #F2F2F2;
  }
  header .icon-logo {
    font-size: 14px;
  }
  header .menu-toggle {
    flex: 0 0 60px;
    border-left: 1px solid rgba(255, 255, 255, 0.08);
  }
}

.contact {
  background: url(images/footer/contact-bg.jpg) center no-repeat;
}
.contact .row > div:nth-child(1) {
  order: 2;
}
.contact .row > div:nth-child(2) {
  orphans: 1;
}
.contact form {
  border: 5px solid #7A5E53;
  border-top: 0;
}
.contact form label {
  flex: 0 0 96px;
}
.contact form > div {
  position: relative;
  top: -35px;
}
.contact form > div .font-65 {
  position: relative;
}
.contact form > div .font-65::before, .contact form > div .font-65::after {
  content: "";
  display: block;
  position: absolute;
  width: calc((100% - 370px) / 2);
  height: 5px;
  background: #7A5E53;
  top: 50%;
  transform: translateY(-50%);
}
.contact form > div .font-65::before {
  left: -5px;
}
.contact form > div .font-65::after {
  right: -5px;
}
@media (max-width: 1199px) {
  .contact form > div {
    top: -25px;
  }
}
@media (max-width: 767px) {
  .contact .row > div:nth-child(2) {
    border: 2px solid #7A5E53;
    border-top: 0;
  }
  .contact .row > div:nth-child(2) > div {
    top: -35px;
    margin-bottom: -20px;
  }
  .contact .row > div:nth-child(2) > div .font-20 {
    font-size: 16px;
  }
  .contact .row > div:nth-child(2) > div .font-44 span:nth-child(1)::before, .contact .row > div:nth-child(2) > div .font-44 span:nth-child(1)::after {
    content: "";
    display: block;
    position: absolute;
    width: calc((100% - 170px) / 2);
    height: 2px;
    background: #7A5E53;
    top: 50%;
    transform: translateY(-50%);
  }
  .contact .row > div:nth-child(2) > div .font-44 span:nth-child(1)::before {
    left: -17px;
  }
  .contact .row > div:nth-child(2) > div .font-44 span:nth-child(1)::after {
    right: -17px;
  }
  .contact .row > div:nth-child(2) > div .font-44::after {
    content: "";
    display: block;
    width: 19px;
    height: 1px;
    background: #BCBCBC;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .contact form {
    top: 0;
    border: 0;
  }
  .contact form > div .font-65::before, .contact form > div .font-65::after {
    display: none;
  }
}

@-webkit-keyframes slideRight {
  from {
    opacity: 0;
    transform: translate3d(30px, 0px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translate3d(30px, 0px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes radarWave {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
  5% {
    background: rgba(175, 144, 106, 0.2);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    background: rgba(158, 125, 84, 0);
  }
}
@keyframes radarWave {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
  5% {
    background: rgba(175, 144, 106, 0.2);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    background: rgba(158, 125, 84, 0);
  }
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0px, 50px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0px, 50px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.historyPage .year-block > span {
  flex: 0 0 85px;
}
.historyPage .year-block > div {
  width: calc(100% - 85px);
}
@media (max-width: 575px) {
  .historyPage .year-block > div {
    width: 100%;
  }
}

#landmark .dec-line::after {
  content: "";
  position: absolute;
  display: block;
  background: #BCBCBC;
  width: 560px;
  height: 1px;
  bottom: -1px;
  left: 0;
  z-index: -1;
}
#landmark .section-1 .dec-block {
  height: 784px;
  bottom: 0;
  z-index: -2;
}
#landmark .section-2 .specialImg::after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: -100px;
  left: 96px;
  border: 20px solid #7A5E53;
}
#landmark .section-2 .left-brown-line-dec {
  margin-right: 96px;
}
#landmark .section-3 {
  padding-bottom: 124px;
}
#landmark .section-3 .swiper-slide {
  height: 830px;
  background-position: right 40% center;
}
#landmark .section-3 .swiper-slide .img {
  height: 100%;
}
#landmark .section-3 .swiper-slide .name-group {
  position: absolute;
  left: 7.5%;
  top: 150px;
}
#landmark .section-3 .swiper-slide .name-group .tag {
  position: relative;
  width: 45px;
  line-height: 33px;
  letter-spacing: 5px;
}
#landmark .section-3 .swiper-slide .name-group .tag:after, #landmark .section-3 .swiper-slide .name-group .tag::before {
  border: 1px solid rgba(255, 255, 255, 0.4);
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}
#landmark .section-3 .swiper-slide .name-group .tag::after {
  top: 0;
  left: 0;
}
#landmark .section-3 .swiper-slide .name-group .tag::before {
  top: -4px;
  left: -4px;
}
#landmark .section-3 .swiper-slide .name-group .name {
  position: relative;
  top: -30px;
  left: 50px;
  letter-spacing: 10px;
}
#landmark .section-3 .swiper-slide .text-group {
  top: 53%;
  left: 57%;
  transform: translateY(-50%);
}
#landmark .section-3 .swiper-slide .text-group .number {
  color: rgba(255, 255, 255, 0.1);
  top: -85px;
  left: -61px;
}
#landmark .section-3 .swiper-slide .text-group button i {
  transition: all 0.3s;
}
#landmark .section-3 .swiper-slide .text-group button:hover i {
  transform: translateX(10px);
}
#landmark .section-3 .swiper-pagination {
  position: static;
}
#landmark .section-3 .swiper-pagination .swiper-pagination-bullet {
  display: flex;
  width: 66px;
  height: 66px;
  transition: all 0.3s;
  background: transparent;
  position: relative;
  opacity: 1;
}
#landmark .section-3 .swiper-pagination .swiper-pagination-bullet:not(.swiper-pagination-bullet-active):hover::after {
  border: 1px solid #6D6D6D;
}
#landmark .section-3 .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  border: 1px solid #7A5E53;
}
#landmark .section-3 .swiper-pagination .swiper-pagination-bullet::before, #landmark .section-3 .swiper-pagination .swiper-pagination-bullet::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: all 0.3s;
}
#landmark .section-3 .swiper-pagination .swiper-pagination-bullet::after {
  width: 50%;
  height: 50%;
}
#landmark .section-3 .swiper-pagination .swiper-pagination-bullet::before {
  width: 4px;
  height: 4px;
  background: black;
}
#landmark .section-3 .dec-block {
  height: 1090px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -2;
}
#landmark .modal {
  padding-right: 0 !important;
}
#landmark .modal .modal-dialog {
  max-width: initial;
  max-height: initial;
  height: 100vh;
  margin: 0;
}
#landmark .modal .modal-dialog .modal-content {
  height: 100%;
}
#landmark .modal .modal-dialog .modal-content .bottom-dec {
  position: relative;
}
#landmark .modal .modal-dialog .modal-content .bottom-dec::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 30px;
  height: 1px;
  background: #786356;
  z-index: 1;
}
#landmark .modal .modal-dialog .modal-content .bottom-dec::after {
  content: "";
  display: block;
  background: #BCBCBC;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
}
#landmark .modal .modal-dialog .modal-content .back {
  left: 0;
  bottom: 65px;
}
@media (max-width: 1600px) {
  #landmark .dec-line::after {
    width: 440px;
  }
  #landmark .section-2 .left-brown-line-dec {
    margin-right: 20px;
  }
}
@media (max-width: 1400px) {
  #landmark .dec-line::after {
    width: 350px;
  }
  #landmark .section-1 .dec-block {
    height: 550px;
  }
  #landmark .section-2 .specialImg::after {
    top: -30px;
    left: 25px;
    border: 10px solid #7A5E53;
  }
  #landmark .section-2 .left-brown-line-dec {
    margin-right: 0;
  }
  #landmark .section-3 .swiper-slide .img {
    background-position: left 35% center;
  }
  #landmark .section-3 .swiper-slide .name-group {
    left: 50px;
    top: 100px;
  }
  #landmark .section-3 .swiper-slide .text-group {
    left: 50%;
  }
}
@media (max-width: 1199px) {
  #landmark .dec-line::after {
    width: 100%;
  }
  #landmark .section-1 .dec-block {
    height: 413px;
  }
  #landmark .section-3 {
    padding-bottom: 35px;
  }
  #landmark .section-3 .swiper-slide .img {
    background-position: right 90% center;
  }
  #landmark .section-3 .swiper-slide .name-group {
    left: 100px;
  }
  #landmark .section-3 .swiper-slide .text-group {
    left: 0px;
    right: 0px;
    top: auto;
    bottom: 0px;
    transform: none;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  }
  #landmark .section-3 .swiper-slide .text-group .number {
    top: 0;
    left: 0;
    font-size: 24px;
    color: white;
    padding-left: 40px;
  }
  #landmark .section-3 .swiper-slide .text-group .number::before {
    content: "";
    display: block;
    width: 26px;
    height: 1px;
    background: #BCBCBC;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  #landmark .section-3 .swiper-slide .text-group .max495 {
    max-width: initial;
  }
  #landmark .section-3 .swiper-pagination .swiper-pagination-bullet {
    display: inline-flex;
    width: 40px;
    height: 40px;
  }
  #landmark .section-3 .swiper-pagination .swiper-pagination-bullet::after {
    display: none;
  }
}
@media (max-width: 991px) {
  #landmark .section-1::after {
    content: "";
    display: block;
    background: #F8F8F8;
    width: 100%;
    height: 300px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
  }
  #landmark .section-2 .specialImg::after {
    left: 20px;
    top: -20px;
    height: calc(100% + 40px);
  }
  #landmark .section-3 {
    background: #F8F8F8;
  }
  #landmark .section-3 .swiper-slide {
    height: auto;
  }
  #landmark .section-3 .swiper-slide .img {
    height: 750px;
    background-position: right 75% center;
    margin-bottom: 100px;
  }
  #landmark .section-3 .swiper-slide .name-group {
    left: auto;
    right: 124px;
  }
  #landmark .section-3 .swiper-slide .text-group {
    color: black;
    background: transparent;
  }
  #landmark .section-3 .swiper-slide .text-group .number {
    color: black;
  }
  #landmark .section-3 .swiper-slide .text-group .max495 {
    max-width: initial;
  }
  #landmark .section-3 .swiper-slide .text-group button {
    color: black !important;
    border-bottom: 1px solid black !important;
  }
  #landmark .section-3 .dots-block {
    position: absolute;
    top: 750px;
  }
}
@media (max-width: 767px) {
  #landmark .section-3 .dots-block {
    top: 386px;
  }
  #landmark .section-3 .swiper-slide .img {
    height: 390px;
    background-position: right 80% center;
    background-size: cover;
    margin-bottom: 64px;
  }
  #landmark .section-3 .swiper-slide .name-group {
    right: 54px;
    top: 35px;
    font-size: 15px;
  }
  #landmark .section-3 .swiper-slide .name-group .name {
    font-size: 22px;
    top: -25px;
  }
  #landmark .section-3 .swiper-slide .text-group .number {
    font-size: 18px;
  }
  #landmark .section-3 .swiper-slide .text-group .font-20 {
    color: #6D6D6D;
  }
  #landmark .section-3 .swiper-slide .text-group button {
    font-size: 16px;
  }
}
@media (max-width: 575px) {
  #landmark .section-1::after {
    height: 200px;
  }
}

#amenities .section-1 .dec-block {
  height: 960px;
  z-index: -2;
}
#amenities .section-1 .dec-line::after {
  content: "";
  position: absolute;
  display: block;
  background: #BCBCBC;
  width: 550px;
  height: 1px;
  bottom: -1px;
  right: 0;
  z-index: -1;
}
#amenities .section-2 .jqimgFill {
  height: 710px;
}
#amenities .section-2 .swiper-slide {
  transition: all 0.3s;
  position: relative;
  transform: translate(-50px, 70px);
}
#amenities .section-2 .swiper-slide.swiper-slide-active {
  z-index: 1;
  transform: none;
}
#amenities .section-2 .swiper-slide.swiper-slide-active .jqimgFill::after {
  opacity: 0;
}
#amenities .section-2 .swiper-slide.swiper-slide-active .text {
  opacity: 1;
}
#amenities .section-2 .swiper-slide .jqimgFill {
  position: relative;
}
#amenities .section-2 .swiper-slide .jqimgFill::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.6);
  transition: all 0.3s;
  pointer-events: none;
}
#amenities .section-2 .swiper-slide .text {
  opacity: 0;
  transition: all 0.3s;
}
#amenities .section-2 .swiper-button {
  margin: 0;
  top: 355px;
  width: 60px;
  height: 60px;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#amenities .section-2 .swiper-button::after {
  display: none;
}
#amenities .section-2 .swiper-button img {
  width: 23px;
}
#amenities .section-2 .swiper-button.swiper-button-prev {
  left: 18.3%;
  transform: translate(-50%, -50%);
}
#amenities .section-2 .swiper-button.swiper-button-next {
  right: 18.3%;
  transform: translateX(-50%, 50%);
}
#amenities .section-2 .swiper-pagination {
  display: flex;
  width: auto;
  left: 72.8%;
  top: 780px;
  bottom: auto;
}
#amenities .section-2 .swiper-pagination .swiper-pagination-current {
  font-size: 46px;
  margin-top: 3px;
  margin-right: 10px;
  line-height: 1;
}
#amenities .section-2 .swiper-pagination .swiper-pagination-total {
  font-size: 22px;
  margin-left: 5px;
}
#amenities .section-3 .dec-line::after {
  content: "";
  position: absolute;
  display: block;
  background: #BCBCBC;
  width: 605px;
  height: 1px;
  bottom: -1px;
  right: 0;
  z-index: -1;
}
#amenities .section-3 .dec-block {
  flex: 0 0 150px;
  position: relative;
}
#amenities .section-3 .dec-block::before {
  content: "";
  display: block;
  width: 75px;
  height: 1px;
  background: #7A5E53;
}
#amenities .section-3 .dec-block::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #BCBCBC;
}
#amenities .section-3 .row:nth-child(1) .mycol-lg-3 {
  order: 2;
}
#amenities .section-3 .row:nth-child(1) .mycol-lg-5 {
  order: 1;
}
#amenities .section-3 .row:nth-child(2) {
  margin-top: -82px;
}
#amenities .section-3 .row:nth-child(2) .mycol-3 > div {
  margin-top: 96px;
}
#amenities .section-3 .view-detail .wrapper {
  cursor: none;
}
#amenities .section-3 .view-detail .view-btn {
  width: 70px;
  height: 70px;
  margin: -35px 0 0 -35px;
  position: absolute;
}
#amenities .section-3 .view-detail .detail {
  opacity: 0;
  pointer-events: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#amenities .section-3 .view-detail .detail.active {
  opacity: 1;
  pointer-events: all;
}
#amenities .section-3 .view-detail .detail button {
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
}
#amenities .section-3 .view-detail .detail button .rounded-circle {
  width: 70px;
  height: 70px;
}
#amenities .section-3 .text-lg-right {
  padding-right: 96px;
}
#amenities .section-3 .view {
  display: none;
}
@media (max-width: 1600px) {
  #amenities .section-2 .swiper-button.swiper-button-prev {
    left: 11.5%;
  }
  #amenities .section-2 .swiper-button.swiper-button-next {
    right: 11.5%;
  }
  #amenities .section-3 .row:nth-child(2) {
    margin-top: 80px;
  }
  #amenities .section-3 .row:nth-child(2) .mycol-3 > div {
    margin-top: 0px;
  }
  #amenities .section-3 .text-lg-right {
    padding-right: 0px;
  }
  #amenities .section-3 .dec-block {
    flex: 0 0 50px;
  }
  #amenities .section-3 .dec-block::before {
    width: 20px;
  }
}
@media (max-width: 1400px) {
  #amenities .section-3 .dec-line::after {
    width: 500px;
  }
  #amenities .section-3 .dec-block {
    flex: 0 0 50px;
  }
  #amenities .section-3 .dec-block::before {
    width: 20px;
  }
  #amenities .section-3 .row:nth-child(2) {
    margin-top: 150px;
  }
  #amenities .section-3 .view-detail .view-btn {
    pointer-events: all;
    position: absolute !important;
    right: 24px;
    bottom: -90px;
    background-color: #7A5E53 !important;
    color: white;
  }
}
@media (max-width: 1199px) {
  #amenities .section-1 .dec-block {
    height: 905px;
  }
  #amenities .section-2 .swiper-slide {
    transform: none;
  }
  #amenities .section-2 .swiper-slide .jqimgFill {
    height: 550px;
  }
  #amenities .section-2 .swiper-slide .jqimgFill::after {
    display: none;
  }
  #amenities .section-2 .swiper-slide .text {
    opacity: 1;
  }
  #amenities .section-2 .swiper-slide .text .max720 {
    max-width: initial;
  }
  #amenities .section-2 .swiper-pagination {
    top: 570px;
    right: 24px;
    left: auto;
  }
  #amenities .section-2 .swiper-button {
    top: 275px;
  }
  #amenities .section-2 .swiper-button.swiper-button-prev {
    left: 24px;
    transform: none;
  }
  #amenities .section-2 .swiper-button.swiper-button-next {
    right: 24px;
    transform: none;
  }
  #amenities .section-3 .dec-line::after {
    width: 400px;
  }
}
@media (max-width: 991px) {
  #amenities .section-1 .dec-line::after {
    width: 100%;
  }
  #amenities .section-2 .swiper-slide .jqimgFill {
    height: 450px;
  }
  #amenities .section-2 .swiper-button {
    width: 50px;
    height: 50px;
    top: 225px;
  }
  #amenities .section-2 .swiper-button img {
    width: 15px;
  }
  #amenities .section-2 .swiper-pagination {
    top: 470px;
  }
  #amenities .section-3 .dec-line::after {
    width: 100%;
  }
  #amenities .section-3 .row:nth-child(1) .mycol-lg-3 .max415 {
    max-width: initial;
  }
  #amenities .section-3 .row:nth-child(2) {
    margin-top: 100px;
  }
  #amenities .section-3 .row:nth-child(2) img {
    width: 100%;
  }
}
@media (max-width: 767px) {
  #amenities .section-2 .swiper-slide .jqimgFill {
    height: 350px;
  }
  #amenities .section-2 .swiper-pagination {
    display: none;
  }
  #amenities .section-2 .swiper-button {
    top: 175px;
    width: 35px;
    height: 35px;
  }
  #amenities .section-3 .row:nth-child(2) {
    margin-top: 50px;
  }
  #amenities .section-3 .view-detail .detail button .rounded-circle {
    width: 50px;
    height: 50px;
    margin: auto;
  }
  #amenities .section-3 .view-detail .view-btn {
    width: 50px;
    height: 50px;
    bottom: -60px;
  }
}
@media (max-width: 575px) {
  #amenities .section-2 .swiper-slide .jqimgFill {
    height: 200px;
  }
  #amenities .section-2 .swiper-button {
    top: 100px;
  }
}

#residence .section-1:before {
  z-index: 0;
}
#residence .section-1 .curtain-wrapper {
  height: 510px;
}
#residence .section-1 .curtain-wrapper #curtain {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
#residence .section-1 .curtain-wrapper #curtain .imgFill {
  position: absolute;
  top: 0;
  left: 0;
  background-position-x: left !important;
}
#residence .section-1 .curtain-wrapper #curtain #drag-button {
  z-index: 0;
  pointer-events: all;
  position: absolute;
  right: 0;
  top: 60%;
  transform: translate(50%, -50%);
  background: url(images/residence/drag.png) center no-repeat;
  width: 75px;
  height: 75px;
  cursor: pointer;
}
#residence .section-1 .curtain-wrapper #curtain-2 {
  height: 100%;
}
#residence .section-1 .curtain-wrapper #curtain-2 .jqimgFill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
#residence .section-2 {
  height: 1000px;
}
#residence .section-2 img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
#residence .section-3::before {
  z-index: 0;
}
#residence .section-3 .swiper-pagination {
  margin-right: -16px;
}
#residence .section-3 .swiper-pagination .swiper-pagination-bullet {
  width: 7px;
  height: 7px;
  background: transparent;
  border: 1px solid black;
  opacity: 1;
  margin: 0 16px;
}
#residence .section-3 .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: black;
}
@media (max-width: 1600px) {
  #residence .section-1 .curtain-wrapper {
    height: 450px;
  }
  #residence .section-2 {
    height: 800px;
  }
}
@media (max-width: 1400px) {
  #residence .section-1 .curtain-wrapper {
    height: 400px;
  }
}
@media (max-width: 1199px) {
  #residence .section-1 #curtain {
    transition: right 0.8s;
  }
  #residence .section-1 #curtain.push {
    right: 0px;
  }
  #residence .section-1 #curtain.pull {
    right: 100vw;
  }
  #residence .section-1 #curtain #drag-button {
    display: none;
  }
  #residence .section-1 .tap-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    bottom: 20px;
    right: 20px;
    line-height: 40px;
    z-index: 3;
    text-align: center;
    background: #0F2540;
    cursor: pointer;
  }
  #residence .section-1 .tap-button img {
    width: 30px;
    display: block;
  }
  #residence .section-1 .tap-button.push .minus {
    display: none;
  }
  #residence .section-1 .tap-button.pull .plus {
    display: none;
  }
  #residence .section-2 {
    height: 700px;
  }
}
@media (max-width: 991px) {
  #residence .section-1 .curtain-wrapper {
    height: 300px;
  }
}
@media (max-width: 767px) {
  #residence .section-1 .curtain-wrapper {
    height: 500px;
  }
  #residence .section-2 {
    height: 100vh;
  }
}
@media (max-width: 575px) {
  #residence .section-1 .curtain-wrapper {
    height: 350px;
  }
}

#location .section-1 .dec-line::before, #location .section-1 .dec-line:after {
  display: block;
  content: "";
  position: absolute;
  height: 1px;
  left: 0;
  top: 0;
}
#location .section-1 .dec-line::before {
  width: 45%;
  background: #776356;
  z-index: 1;
}
#location .section-1 .dec-line:after {
  width: 100%;
  background: #BCBCBC;
}
#location .section-2 {
  margin-top: -254px;
}
#location .section-2::before {
  z-index: 0;
}
#location .section-2 .dec-block {
  height: 1446px;
  z-index: -1;
}
#location .section-2 .main-block {
  padding-top: 345px;
}
#location .section-2 .cursor {
  opacity: 0;
  top: 500px;
  position: fixed;
  pointer-events: none;
}
#location .section-2 .cursor > div {
  width: 60px;
  height: 60px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#location .section-2 .pagination-wrapper {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 12.5%;
}
#location .section-2 .pagination-wrapper .swiper-pagination {
  position: static;
}
#location .section-2 .pagination-wrapper .swiper-pagination .swiper-pagination-current {
  font-size: 46px;
  margin-top: 3px;
  margin-right: 10px;
  line-height: 1;
}
#location .section-2 .pagination-wrapper .swiper-pagination .swiper-pagination-total {
  font-size: 22px;
  margin-left: 5px;
}
#location .section-2 .swiper-wrapper {
  cursor: none;
}
#location .section-2 .swiper-wrapper .jqimgFill {
  height: 690px;
}
#location .section-2 .swiper-wrapper .text {
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
}
#location .section-2 .swiper-button {
  cursor: none;
  width: 50%;
  height: 100%;
  top: 0;
  margin-top: 0;
}
#location .section-2 .swiper-button::after {
  display: none;
}
#location .section-2 .swiper-button.swiper-button-prev {
  left: 0;
}
#location .section-2 .swiper-button.swiper-button-next {
  right: 0;
}
#location .section-2 .dec-line::before, #location .section-2 .dec-line::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
}
#location .section-2 .dec-line::before {
  width: 50px;
  background: #776356;
  z-index: 1;
}
#location .section-2 .dec-line::after {
  background: #BCBCBC;
  width: 100%;
}
@media (max-width: 1199px) {
  #location .section-1 .max720 {
    max-width: initial;
  }
}/*# sourceMappingURL=style.css.map */